*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.start-screen{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    animation: fadeIn 1s ease; 
}

.start-text{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}

.start-btn{
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ffcc00;
    cursor: pointer;
}

/* PLACAR */
.score{
    position: absolute;
    top: 50px;
}

.bestScore{
    position: absolute;
    top: 10px;
}
.scoreboard{
    left: 10px;
    font-size: 32px;
    font-weight: bold;
    z-index: 9;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}



.game-board{
    width: 100%;
    height: 600px;
    border-bottom: 40px solid rgb(31, 152, 31);
    /*background: linear-gradient(#87CEEB, #E0F6FF);*/
    animation: sky-cycle 60s linear infinite;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: background 3s linear;
}



/* GAME OVER */
.game-over-screen{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    color: white;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    animation: fadeIn 1s ease;
}

.game-over-screen button{
    padding: 15px 40px;
    font-size: 28px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffcc00;
    cursor: pointer;
}

.pipe{
    bottom: 0;
    position: absolute;
    width: 70px;
    height: 70px;
    animation: pipe-animation 1.5s linear infinite ;
}

.mario{
    bottom: 0;
    position: absolute;
    width: 150px;
}

.clouds{
    position: absolute;
    margin-top: 80px;
    width: 400px;
    animation: clouds-animation 20s linear infinite;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation{
    from{
        right: -70px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -400px;
    }
    to{
        right: 100%;
    }
}

@keyframes sky-cycle {
    0% {
        background: linear-gradient(#87CEEB, #E0F6FF); /* manhã */
    }
    50% {
        background: linear-gradient(#87CEEB, #E0F6FF); /* manhã */
    }
    60% {
        background: linear-gradient(#ff9a3c, #b64011); /* pôr do sol */
    }

    65% {
        background: linear-gradient(#ff9a3c, #b64011); /* pôr do sol */
    }

    70% {
        background: linear-gradient(#101750, #241b9c); /* noite */
    }

    80% {
        background: linear-gradient(#101750, #241b9c); /* noite */
    }
    90% {
        background: linear-gradient(#101750, #241b9c); /* noite */
    }
    95% {
        background: linear-gradient(#101750, #241b9c); /* noite */
    }
    100% {
        background: linear-gradient(#87CEEB, #E0F6FF); /* volta ao dia */
    }
}




